<br>
<div class="container">
  <div class="row">

    <font color="black"> <div style="background-color:white" class="col-xs-1" > <button type="button"  style="border-color: transparent; background-color: white"><font size="3" color="#9370db">Bootstrap</font> </button></div> </font>
    <a href="http://getbootstrap.com/getting-started/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Getting started</button></div> </font> </a>
    <a href="http://getbootstrap.com/css/"> <font color="black"> <div style="background-color:white" class="col-sm-1"> <button type="button"  style="border-color: transparent; background-color: white">CSS</button></div> </font> </a>
    <a href="http://getbootstrap.com/components/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Components</button></div> </font> </a>
    <a href="http://getbootstrap.com/javascript/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Javascript</button></div> </font> </a>
    <a href="http://getbootstrap.com/customize/"> <font color="black"> <div style="background-color:white" class="col-sm-4" > <button type="button"  style="border-color: transparent; background-color: white">Customize</button></div> </font> </a>
    <a href="https://themes.getbootstrap.com/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Themes</button></div> </font> </a>
    <a href="http://expo.getbootstrap.com/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Expo</button></div> </font> </a>
    <a href="http://blog.getbootstrap.com/"> <font color="black"> <div style="background-color:white" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color: white">Blog</button></div> </font> </a>

  </div>
</div>
<div class="row">
  <div style="background-color:#563d7c" class="col-sm-12" align="center"> <br><img style="width: 150px; height: 100px; border: white 2px solid;margin-top: 10px;padding-top: 10px; padding: 20px;border-radius: 20px 20px 20px 20px" src="https://svenv.nl/media/2016/01/10/bootstrap_solid.png.1080x300_q85_crop.png">
    <p style="color: white; border: 30px solid transparent; margin-left: 190px; margin-right: 190px" align="center"><font size="6"> Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</font></p>
  <p style="color: white" align="center"><font size="6"> </font></p>
  <p></p>
  <a href="http://getbootstrap.com/getting-started/#download"><p style="color: white" align="center"> <button class="btn btn-primary btn-lg" style="border-color: white; background-color:#563d7c "><font size="5">Download Bootstrap</font> </button></p></a>
  <p style="color: silver" align="center">Currently v3.3.7</p>
    <p style="color: white; border: 30px solid transparent; " >  <a href="https://circleci.com/?utm_source=buysellads&utm_medium=display&utm_campaign=carbon&utm_term=a&utm_content=apr-17"> <button class="btn btn-default btn-lg" style="border-color: white; background-color:#563d7c;"><font size="2" color="white"><div class="col-xs-6"><img src="https://circleci.com/circleci-logo-stacked-fb.png"style="width: 100px; height: 100px; background-color: white; margin-right: 200px"></div><div class="col-xs-0" align="left">The continuous integration <p></p> and delivery plataform software<p></p> teams love to use.</div></font> </button></a></p>
</div>>
</div>

<br>
<br>
<div class="container">
<div class="row">
  <p align="center"> <font size="6">Designed for everyone, everywhere.</font></p>
  <p align="center" style="margin-right: 190px;margin-left: 190px"> <font size="4"> Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes. </font></p>

</div>
</div>
<br>
<div class="container">
  <div class="row">
    <div style="background-color:white" class="col-sm-4" align="center" > <img src="http://getbootstrap.com/assets/img/sass-less.png" style="width: 350px;height: 150px"><p></p><font size="5"> Preprocessors</font><p align="center"><font size="3">Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass. Quickly get started with precompiled CSS or build on the source.</font></p></div>
    <div style="background-color:white" class="col-sm-4" align="center"><img src="https://www.quackit.com/pix/bootstrap/responsive_design.png" style="width: 350px;height: 150px"><p></p> <font size="5">One framework, every device.</font><p align="center"><font size="3">Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</font></p></div>
    <div style="background-color:white" class="col-sm-4" align="center"><img src="http://getbootstrap.com/assets/img/components.png" style="width: 350px;height: 150px"><p></p><font size="5"> Full of features </font><p align="center"><font size="3">With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</font></p></div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <p align="center"> <font size="5">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</font> </p>
    <a href="https://github.com/twbs/bootstrap">  <p align="center"><button class="btn btn-primary btn-lg" style="border-color:#563d7c; background-color:white "><font size="4" color="#563d7c">View the GitHub projet</font></button></p></a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <p align="center"><font size="6"><b>Built with Bootstrap.</b></font></p>
    <p align="center" style="margin-left: 70px;margin-right: 70px"><font size="5">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own with our growing<a href="http://getbootstrap.com/getting-started/#examples"> collection of examples</a> or by exploring some of our favorites.</font></p>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div style="background-color:white" class="col-sm-3" align="center" ><a href="http://expo.getbootstrap.com/2014/10/29/lyft/"><img src="http://getbootstrap.com/assets/img/expo-lyft.jpg" style="width:300px;height: 200px"></a> </div>
    <div style="background-color:white" class="col-sm-3" align="center" ><a href="http://expo.getbootstrap.com/2014/09/30/vogue/"><img src="http://getbootstrap.com/assets/img/expo-vogue.jpg"  style="width:300px;height: 200px"></a> </div>
    <div style="background-color:white" class="col-sm-3" align="center" ><a href="http://expo.getbootstrap.com/2014/03/13/riot-design/"><img src="http://getbootstrap.com/assets/img/expo-riot.jpg"  style="width:300px;height: 200px"></a> </div>
    <div style="background-color:white" class="col-sm-3" align="center" ><a href="http://expo.getbootstrap.com/2014/02/12/newsweek/"><img src="http://getbootstrap.com/assets/img/expo-newsweek.jpg"  style="width:300px;height: 200px"></a> </div>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <p align="center"> <font size="5">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</font> </p>
    <a href="http://expo.getbootstrap.com/"> <p align="center"><button class="btn btn-primary btn-lg" style="border-color:#563d7c; background-color:white "><font size="4" color="#563d7c">Explore the Expo</font></button></p></a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

    <div class="row">
      <font color="white"> <div style="background-color:#3F3E3F" class="col-sm-12" >
        <div class="container">
          <div class="row">
            <br>
            <a href="https://github.com/twbs/bootstrap"> <div style="background-color:#3F3E3F" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color:#3F3E3F"><font color="white">GitHub</font></button></div> </a>
            <a href="https://twitter.com/getbootstrap"> <div style="background-color:#3F3E3F" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color:#3F3E3F"><font color="white">Twitter</font></button></div> </a>
            <a href="http://getbootstrap.com/getting-started/#examples"> <div style="background-color:#3F3E3F" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color:#3F3E3F"><font color="white">Examples</font></button></div> </a>
            <a href="http://getbootstrap.com/about/"> <div style="background-color:#3F3E3F" class="col-sm-1" > <button type="button"  style="border-color: transparent; background-color:#3F3E3F"><font color="white">About</font></button></div> </a>
           <br>
            <br>
            <p style="margin-right: 300px; margin-left: 20px">Designed and built with all the love in the world by <a href="https://twitter.com/mdo">@mdo </a> and <a href="https://twitter.com/fat">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of our <a href="https://github.com/twbs/bootstrap/graphs/contributors">contributors</a>.
              Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
          </div>
        </div>
      </div> </font>
  </div>

