
<div class="row">

  <div style="background-color:#365899;" class="col-xs-12" >
    <div class="container">
    <div class="row">
      <div class="col-xs-6"  > <img src="http://tax-design.com/upload/images/top/Facebook01.jpg" style="width: 185px;height: 50px; margin-top: 23px"></div>
      <div class="col-xs-6" style=" margin-top: 12px" ><font color="white" size="2">Correo electrónico o teléfono	&nbsp; &nbsp; &nbsp; Contraseña</font></div>
      <div class="col-xs-2" > <font size="2" color="white"> <input type="text" name="cajacorreo">	</font></div>
      <div class="col-xs-4" > <font size="2" color="white"><input type="text" name="cajacontraseña"><button style="margin-left: 67px;background-color:#365899; border-color: #365899;">Entrar</button><font size="1"> <p style="margin-top: 5px"> ¿Has olvidado los datos de la cuenta? </p></font>	</font> <p></p></div>
    </div>
    </div>
  </div>
  <div class="row">

  <div style="background-color:#f7f7f7" class="col-xs-12" >
    <div class="container">
      <div class="row">
        <br>
        <div class="col-xs-6" style=" margin-top: 20px;" align="justify" ><font style="font-size: 20px"   color="	#0F0B58" face="Helvetica, Arial, sans-serif"><b><p style="margin-right:110px" align="justify">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</p></b></font><p> <img src="https://www.facebook.com/rsrc.php/v3/yx/r/pyNVUg5EM0j.png" align="left" style="margin-right: 100px;width:570px"></p></div>
      </div>
    </div>
  </div>
