<body style="background-color: black">

<div class="container" >
  <br>
  <div class="row">
    <div class="col-sm-12" align="center">
      <h2 id="titulo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" >
        <button  class="btn btn-outline-success" style=" background-color: black; font-weight: bold; font-size: larger; border-color: silver; border-width: 5px; border-radius: 7px " (click)="cargarPlanetas()">Cargar Planetas</button>

      </h2>
    </div>


  </div>

  <br>
  <ul class="lista">
    <li *ngFor="let planeta of planetas"> <!-- primer planeta es la variable y el segundo es el vector planeta-->

      <div class="row">
        <div class="col-sm-6">
          <p style="font-size: 45px; font-weight: bold">
            {{planeta.name}}</p><br></div>
        <div class="col-sm-9">
          <div *ngIf="planeta.name=='Alderaan'" >
            <img src="https://vignette1.wikia.nocookie.net/swtor/images/4/4a/Alderaan.jpg/revision/latest/scale-to-width-down/230?cb=20100720143643" width="200" height="200" alt="">
          <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Yavin IV'">
            <img src="https://s-media-cache-ak0.pinimg.com/236x/e5/f0/50/e5f0509616bc96277ea1877c40578cec.jpg" width="200" height="200">
            <br><br><br>
          </div>
          <div *ngIf="planeta.name=='Hoth'">
            <img src="https://upload.wikimedia.org/wikipedia/en/d/d2/Hothplanetsurface.jpg" width="200" height="200">
            <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Dagobah'">
            <img src="http://vignette1.wikia.nocookie.net/planetstar/images/1/1b/Green_planet.jpg/revision/latest?cb=20130401020147" width="200" height="200">
            <br><br><br>
          </div>
          <div *ngIf="planeta.name=='Bespin'">
            <img src="http://www.starwars-chronicles.com/images/Locations_Large/Bespin.jpg" width="200" height="200">
            <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Endor'">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtorSxRr3UvCXAe7DZo_0H_WxF9Vm4LaMzZvcPn1Lkgn3Psfkr" width="200" height="200">
            <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Naboo'">
            <img src="https://vignette1.wikia.nocookie.net/starwars/images/4/4a/Alderaan.jpg/revision/latest?cb=20061211013805" width="200" height="200" >
            <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Coruscant'">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjw9lDhE0WjxtHO94QEZYU-YeXYB-_KuQctP8RrcQexd3zSGKF" width="200" height="200">
            <br><br><br>
          </div>
          <div  *ngIf="planeta.name=='Kamino'">
            <img src="https://vignette3.wikia.nocookie.net/aliens/images/5/57/Kamino.jpg/revision/latest?cb=20090921183423" width="200" height="200">
            <br><br><br>
          </div>
          <div *ngIf="planeta.name=='Geonosis'">
            <img src="http://img05.deviantart.net/b358/i/2011/154/8/f/planet_geonosis_by_darkness84-d3hyk92.jpg" width="200" height="200">
            <br><br><br>
          </div>
        </div>
      </div>


      <div>
        <p style="font-size: large">Periodo de Rotacion:  {{planeta.rotation_period}}</p>
        <p>Periodo Orbital: {{planeta.orbital_perio}}</p>
        <p>Diametro: {{planeta.diameter}}</p>
        <p>Clima: {{planeta.climate}}</p>
        <p>Gravedad: {{planeta.gravity}}</p>
        <p>Terrono: {{planeta.terrain}}</p>
        <p>Superficie del Agua: {{planeta.surface_water}}</p>
        <p>Poblacion: {{planeta.population}}</p>
        <p>Residentes: </p>
        <p *ngFor=" let harold of planeta.residents"> {{harold.toString()}}</p>
        <p>Films: {{planeta.films}}</p>
        <p>Creado: {{planeta.created}}</p>
        <p>Editado: {{planeta.edited}}</p>
        <p>URL: {{planeta.url}}</p>
        <p>imagenes: {{planeta.imagen}}</p>
        <br>
        <br>
      </div>

    </li>
  </ul>
</div>
</body>
